* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #eaf7ef;
    color: #2e5f3e;
}

/* LOGIN */
.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* NAV */
nav {
    background: #3fa96b;
    padding: 15px 30px;
    color: white;
    display: flex;
    justify-content: space-between;
}

nav button {
    background: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.hero-img {
    width: 300px;
}

/* SECTION */
.section {
    padding: 50px;
    text-align: center;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}

.card {
    background: white;
    padding: 20px;
    width: 220px;
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 100px;
}

/* FOOTER */
footer {
    background: #3fa96b;
    color: white;
    text-align: center;
    padding: 15px;
}

/* ANIMASI */
.fade-in {
    animation: fadeIn 1.5s;
}

.floating {
    animation: float 3s ease-in-out infinite;
}

.zoom:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes float {
    0% {transform: translateY(0);}
    50% {transform: translateY(-20px);}
    100% {transform: translateY(0);}
}
